.lighter-then {
  background-color: #333B52 !important; }

.my-light {
  color: #C3C7CD !important; }

.default-color-2 {
  color: darkgrey !important; }

.hover-text-color:hover {
  color: #C3C7CD !important; }

.hover-text-blue:hover {
  color: #4366A3 !important; }

.accordion__item_active {
  color: #4366A3 !important; }

.bg-ligter-color {
  background-color: #333B52 !important; }

.hover-bg-list-color:hover {
  background-color: #3E4555 !important; }

::-webkit-scrollbar {
  width: 2px; }

::-webkit-scrollbar-thumb {
  background-color: darkgrey; }

body {
  background-color: #202634 !important;
  padding: 0;
  margin: 0;
  height: 100vh;
  overflow-x: hidden; }
  body button {
    cursor: pointer !important; }
  body .container-fluid {
    position: relative;
    padding: 0;
    display: flex;
    overflow-x: hidden;
    justify-content: center; }
    body .container-fluid .pages-menu.to-left {
      background-color: #293042;
      z-index: 10;
      transition: all .5s;
      display: block;
      margin-left: 0;
      max-height: 100vh;
      max-width: 250px;
      min-width: 250px; }
      body .container-fluid .pages-menu.to-left.show {
        margin-left: -260px; }
      body .container-fluid .pages-menu.to-left svg {
        width: 16px !important; }
      body .container-fluid .pages-menu.to-left .pages-menu__brand {
        width: 100% !important;
        cursor: pointer; }
        body .container-fluid .pages-menu.to-left .pages-menu__brand svg {
          fill: #78A6F0 !important; }
      body .container-fluid .pages-menu.to-left .form-text {
        color: #c4c4c4 !important; }
      body .container-fluid .pages-menu.to-left .pages__list {
        list-style: none; }
      body .container-fluid .pages-menu.to-left .page-menu__pages .dashboard-some-memories {
        margin: 0 auto; }
    body .container-fluid .pages-menu.to-right {
      background-color: #293042;
      z-index: 10;
      transition: all .5s;
      z-index: 100;
      max-height: 100vh;
      display: none;
      margin-right: 0;
      max-width: 250px;
      min-width: 250px; }
      body .container-fluid .pages-menu.to-right.show {
        margin-right: -260px; }
      body .container-fluid .pages-menu.to-right svg {
        width: 16px !important; }
      body .container-fluid .pages-menu.to-right .pages-menu__brand {
        width: 100% !important;
        cursor: pointer; }
        body .container-fluid .pages-menu.to-right .pages-menu__brand svg {
          fill: #78A6F0 !important; }
      body .container-fluid .pages-menu.to-right .form-text {
        color: #c4c4c4 !important; }
      body .container-fluid .pages-menu.to-right .pages__list {
        list-style: none; }
      body .container-fluid .pages-menu.to-right .page-menu__pages .dashboard-some-memories {
        margin: 0 auto; }
    body .container-fluid .pages-menu.myOverflow {
      overflow: auto !important; }
    body .container-fluid .grandMother {
      max-height: 100vh;
      overflow-x: hidden;
      max-width: 100% !important;
      width: 100%; }
      body .container-fluid .grandMother ul {
        list-style: none; }
      body .container-fluid .grandMother .row {
        padding: 0; }
        body .container-fluid .grandMother .row .navbar-left-section {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          width: 50%; }
          body .container-fluid .grandMother .row .navbar-left-section .search-input {
            display: flex;
            height: 70px;
            justify-content: flex-start;
            align-items: center; }
            body .container-fluid .grandMother .row .navbar-left-section .search-input .navbar-controller {
              color: #d3d1d1;
              font-size: 25px;
              cursor: pointer;
              margin-right: 15px; }
            body .container-fluid .grandMother .row .navbar-left-section .search-input .input-group {
              background-color: #293042;
              max-width: 210px;
              min-width: 210px; }
              body .container-fluid .grandMother .row .navbar-left-section .search-input .input-group input {
                background-color: #293042;
                border: 0;
                box-shadow: none !important;
                color: darkgrey;
                width: 150px; }
              body .container-fluid .grandMother .row .navbar-left-section .search-input .input-group button {
                color: darkgrey; }
          body .container-fluid .grandMother .row .navbar-left-section .dropdown-menu {
            background-color: #293042; }
          body .container-fluid .grandMother .row .navbar-left-section .dropdown-menu.show {
            animation-name: dropdownAnimation2;
            animation-duration: .5s;
            animation-iteration-count: 1;
            animation-timing-function: ease;
            animation-fill-mode: forwards; }
          body .container-fluid .grandMother .row .navbar-left-section .dropdown1 {
            display: flex;
            align-items: center;
            height: 70px;
            width: 70px;
            margin-left: 20px; }
            body .container-fluid .grandMother .row .navbar-left-section .dropdown1 .text-decoration-none::after {
              content: '\25BC';
              font-size: 10px;
              margin-left: 6px; }
            body .container-fluid .grandMother .row .navbar-left-section .dropdown1 .text-decoration-none {
              color: darkgrey; }
            body .container-fluid .grandMother .row .navbar-left-section .dropdown1 .text-decoration-none:hover {
              color: #e0dbdb; }
          body .container-fluid .grandMother .row .navbar-left-section #dropdown1 {
            width: 500px; }
            body .container-fluid .grandMother .row .navbar-left-section #dropdown1 .d-flex {
              justify-content: space-between; }
              body .container-fluid .grandMother .row .navbar-left-section #dropdown1 .d-flex ul li {
                color: darkgrey;
                margin: 10px 0;
                cursor: pointer; }
                body .container-fluid .grandMother .row .navbar-left-section #dropdown1 .d-flex ul li:hover {
                  color: #C3C7CD; }
        body .container-fluid .grandMother .row .navbar-right-section {
          display: flex;
          align-items: center;
          justify-content: flex-end; }
          body .container-fluid .grandMother .row .navbar-right-section .dropdown2 {
            margin-right: 20px; }
            body .container-fluid .grandMother .row .navbar-right-section .dropdown2 i {
              color: darkgrey;
              position: relative;
              cursor: pointer; }
              body .container-fluid .grandMother .row .navbar-right-section .dropdown2 i span {
                position: absolute;
                top: -5px;
                right: -10px;
                border-radius: 50%;
                padding: 2px 6px;
                background-color: #3F80EA;
                color: #333;
                font-size: 12px; }
              body .container-fluid .grandMother .row .navbar-right-section .dropdown2 i:hover {
                color: #3F80EA; }
                body .container-fluid .grandMother .row .navbar-right-section .dropdown2 i:hover span {
                  top: -10px; }
            body .container-fluid .grandMother .row .navbar-right-section .dropdown2 .dropdown-menu {
              width: 350px;
              background-color: #293042;
              margin: 0;
              margin-top: -20px;
              border: 1px solid #777474;
              padding: 0 !important; }
              body .container-fluid .grandMother .row .navbar-right-section .dropdown2 .dropdown-menu ul {
                width: 100%;
                padding-left: 0;
                padding: 0 !important;
                margin: 0 !important; }
                body .container-fluid .grandMother .row .navbar-right-section .dropdown2 .dropdown-menu ul p.py-3 {
                  color: darkgrey;
                  width: 100%;
                  text-align: center;
                  border-bottom: 1px solid darkgrey;
                  margin: 0;
                  padding-top: 8px !important; }
                body .container-fluid .grandMother .row .navbar-right-section .dropdown2 .dropdown-menu ul li {
                  width: 100%;
                  padding: 15px 20px;
                  border-bottom: 1px solid darkgrey; }
                  body .container-fluid .grandMother .row .navbar-right-section .dropdown2 .dropdown-menu ul li a {
                    width: 100%;
                    height: 100%; }
                    body .container-fluid .grandMother .row .navbar-right-section .dropdown2 .dropdown-menu ul li a .fs-6 {
                      padding-left: 55px;
                      color: #fff;
                      margin-bottom: 0; }
                    body .container-fluid .grandMother .row .navbar-right-section .dropdown2 .dropdown-menu ul li a .d-flex {
                      justify-content: flex-start; }
                      body .container-fluid .grandMother .row .navbar-right-section .dropdown2 .dropdown-menu ul li a .d-flex i {
                        margin-right: 35px; }
                      body .container-fluid .grandMother .row .navbar-right-section .dropdown2 .dropdown-menu ul li a .d-flex img {
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        margin-right: 10px; }
                      body .container-fluid .grandMother .row .navbar-right-section .dropdown2 .dropdown-menu ul li a .d-flex .d-block {
                        width: 80%; }
                        body .container-fluid .grandMother .row .navbar-right-section .dropdown2 .dropdown-menu ul li a .d-flex .d-block .p-1 {
                          margin-bottom: 0; }
                        body .container-fluid .grandMother .row .navbar-right-section .dropdown2 .dropdown-menu ul li a .d-flex .d-block p {
                          color: darkgrey;
                          margin: 0; }
                        body .container-fluid .grandMother .row .navbar-right-section .dropdown2 .dropdown-menu ul li a .d-flex .d-block .p-2 {
                          margin-left: 5px;
                          padding: 0 !important; }
                body .container-fluid .grandMother .row .navbar-right-section .dropdown2 .dropdown-menu ul .allNotiLink {
                  height: 50px; }
                  body .container-fluid .grandMother .row .navbar-right-section .dropdown2 .dropdown-menu ul .allNotiLink a {
                    margin: auto;
                    color: darkgrey;
                    text-decoration: none; }
                    body .container-fluid .grandMother .row .navbar-right-section .dropdown2 .dropdown-menu ul .allNotiLink a:hover {
                      text-decoration: underline; }
          body .container-fluid .grandMother .row .navbar-right-section .dropdown3 {
            margin-right: 20px; }
            body .container-fluid .grandMother .row .navbar-right-section .dropdown3 i {
              color: darkgrey;
              position: relative;
              cursor: pointer; }
              body .container-fluid .grandMother .row .navbar-right-section .dropdown3 i span {
                position: absolute;
                top: -5px;
                right: -10px;
                border-radius: 50%;
                padding: 2px 6px;
                background-color: #3F80EA;
                color: #333;
                font-size: 12px; }
              body .container-fluid .grandMother .row .navbar-right-section .dropdown3 i:hover {
                color: #3F80EA; }
                body .container-fluid .grandMother .row .navbar-right-section .dropdown3 i:hover span {
                  top: -10px; }
            body .container-fluid .grandMother .row .navbar-right-section .dropdown3 .dropdown-menu {
              background-color: #293042;
              padding: 0 !important; }
              body .container-fluid .grandMother .row .navbar-right-section .dropdown3 .dropdown-menu ul {
                padding: 0 !important;
                margin: 7px 0; }
                body .container-fluid .grandMother .row .navbar-right-section .dropdown3 .dropdown-menu ul li {
                  padding: 5px 16px; }
                  body .container-fluid .grandMother .row .navbar-right-section .dropdown3 .dropdown-menu ul li a {
                    color: darkgrey;
                    text-decoration: none; }
                    body .container-fluid .grandMother .row .navbar-right-section .dropdown3 .dropdown-menu ul li a img {
                      margin-right: 5px; }
          body .container-fluid .grandMother .row .navbar-right-section .dropdown4 .text-decoration-none.text-light .fa-cog {
            display: none; }
          body .container-fluid .grandMother .row .navbar-right-section .dropdown4 img {
            width: 30px;
            border-radius: 50%; }
          body .container-fluid .grandMother .row .navbar-right-section .dropdown4 .dropdown-menu {
            background-color: #293042; }
            body .container-fluid .grandMother .row .navbar-right-section .dropdown4 .dropdown-menu ul {
              padding: 0;
              margin: 0; }
              body .container-fluid .grandMother .row .navbar-right-section .dropdown4 .dropdown-menu ul a {
                display: block;
                padding: 5px 10px;
                padding-left: 20px;
                text-decoration: none;
                color: darkgrey; }
                body .container-fluid .grandMother .row .navbar-right-section .dropdown4 .dropdown-menu ul a:hover a {
                  color: #d1d0d0; }
                body .container-fluid .grandMother .row .navbar-right-section .dropdown4 .dropdown-menu ul a i {
                  margin-right: 6px; }
      body .container-fluid .grandMother .grandMother__navbar.to-right {
        display: none;
        width: 98%; }
        body .container-fluid .grandMother .grandMother__navbar.to-right .navbar-left-section {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          width: 50%;
          padding-right: 33px !important; }
          body .container-fluid .grandMother .grandMother__navbar.to-right .navbar-left-section .search-input {
            display: flex;
            height: 70px;
            justify-content: flex-start;
            align-items: center; }
            body .container-fluid .grandMother .grandMother__navbar.to-right .navbar-left-section .search-input .navbar-controller {
              color: #d3d1d1;
              font-size: 25px;
              cursor: pointer;
              margin-right: 15px; }
            body .container-fluid .grandMother .grandMother__navbar.to-right .navbar-left-section .search-input .input-group {
              background-color: #293042;
              max-width: 210px;
              min-width: 210px; }
              body .container-fluid .grandMother .grandMother__navbar.to-right .navbar-left-section .search-input .input-group input {
                background-color: #293042;
                border: 0;
                box-shadow: none !important;
                color: darkgrey;
                width: 150px; }
              body .container-fluid .grandMother .grandMother__navbar.to-right .navbar-left-section .search-input .input-group button {
                color: darkgrey; }
          body .container-fluid .grandMother .grandMother__navbar.to-right .navbar-left-section .dropdown-menu {
            background-color: #293042; }
          body .container-fluid .grandMother .grandMother__navbar.to-right .navbar-left-section .dropdown-menu.show {
            animation-name: dropdownAnimation2;
            animation-duration: .5s;
            animation-iteration-count: 1;
            animation-timing-function: ease;
            animation-fill-mode: forwards; }
          body .container-fluid .grandMother .grandMother__navbar.to-right .navbar-left-section .dropdown1 {
            display: flex;
            align-items: center;
            height: 70px;
            width: 70px;
            margin-left: 20px; }
            body .container-fluid .grandMother .grandMother__navbar.to-right .navbar-left-section .dropdown1 .text-decoration-none::after {
              content: '\25BC';
              font-size: 10px;
              margin-left: 6px; }
            body .container-fluid .grandMother .grandMother__navbar.to-right .navbar-left-section .dropdown1 .text-decoration-none {
              color: darkgrey; }
            body .container-fluid .grandMother .grandMother__navbar.to-right .navbar-left-section .dropdown1 .text-decoration-none:hover {
              color: #e0dbdb; }
          body .container-fluid .grandMother .grandMother__navbar.to-right .navbar-left-section #dropdown1 {
            width: 500px; }
            body .container-fluid .grandMother .grandMother__navbar.to-right .navbar-left-section #dropdown1 .d-flex {
              justify-content: space-between; }
              body .container-fluid .grandMother .grandMother__navbar.to-right .navbar-left-section #dropdown1 .d-flex ul li {
                color: darkgrey;
                margin: 10px 0;
                cursor: pointer; }
                body .container-fluid .grandMother .grandMother__navbar.to-right .navbar-left-section #dropdown1 .d-flex ul li:hover {
                  color: #C3C7CD; }
        body .container-fluid .grandMother .grandMother__navbar.to-right .navbar-right-section {
          padding-left: 42px !important;
          display: flex;
          align-items: center;
          justify-content: flex-start; }
          body .container-fluid .grandMother .grandMother__navbar.to-right .navbar-right-section .dropdown2 {
            margin-right: 20px; }
            body .container-fluid .grandMother .grandMother__navbar.to-right .navbar-right-section .dropdown2 i {
              color: darkgrey;
              position: relative;
              cursor: pointer; }
              body .container-fluid .grandMother .grandMother__navbar.to-right .navbar-right-section .dropdown2 i span {
                position: absolute;
                top: -5px;
                right: -10px;
                border-radius: 50%;
                padding: 2px 6px;
                background-color: #3F80EA;
                color: #333;
                font-size: 12px; }
              body .container-fluid .grandMother .grandMother__navbar.to-right .navbar-right-section .dropdown2 i:hover {
                color: #3F80EA; }
                body .container-fluid .grandMother .grandMother__navbar.to-right .navbar-right-section .dropdown2 i:hover span {
                  top: -10px; }
            body .container-fluid .grandMother .grandMother__navbar.to-right .navbar-right-section .dropdown2 .dropdown-menu {
              width: 350px;
              background-color: #293042;
              margin: 0;
              margin-top: -20px;
              border: 1px solid #777474;
              padding: 0 !important; }
              body .container-fluid .grandMother .grandMother__navbar.to-right .navbar-right-section .dropdown2 .dropdown-menu ul {
                width: 100%;
                padding-left: 0;
                padding: 0 !important;
                margin: 0 !important; }
                body .container-fluid .grandMother .grandMother__navbar.to-right .navbar-right-section .dropdown2 .dropdown-menu ul p.py-3 {
                  color: darkgrey;
                  width: 100%;
                  text-align: center;
                  border-bottom: 1px solid darkgrey;
                  margin: 0;
                  padding-top: 8px !important; }
                body .container-fluid .grandMother .grandMother__navbar.to-right .navbar-right-section .dropdown2 .dropdown-menu ul li {
                  width: 100%;
                  padding: 15px 20px;
                  border-bottom: 1px solid darkgrey; }
                  body .container-fluid .grandMother .grandMother__navbar.to-right .navbar-right-section .dropdown2 .dropdown-menu ul li a {
                    width: 100%;
                    height: 100%; }
                    body .container-fluid .grandMother .grandMother__navbar.to-right .navbar-right-section .dropdown2 .dropdown-menu ul li a .fs-6 {
                      padding-left: 55px;
                      color: #fff;
                      margin-bottom: 0; }
                    body .container-fluid .grandMother .grandMother__navbar.to-right .navbar-right-section .dropdown2 .dropdown-menu ul li a .d-flex {
                      justify-content: flex-start; }
                      body .container-fluid .grandMother .grandMother__navbar.to-right .navbar-right-section .dropdown2 .dropdown-menu ul li a .d-flex i {
                        margin-right: 35px; }
                      body .container-fluid .grandMother .grandMother__navbar.to-right .navbar-right-section .dropdown2 .dropdown-menu ul li a .d-flex img {
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        margin-right: 10px; }
                      body .container-fluid .grandMother .grandMother__navbar.to-right .navbar-right-section .dropdown2 .dropdown-menu ul li a .d-flex .d-block {
                        width: 80%; }
                        body .container-fluid .grandMother .grandMother__navbar.to-right .navbar-right-section .dropdown2 .dropdown-menu ul li a .d-flex .d-block .p-1 {
                          margin-bottom: 0; }
                        body .container-fluid .grandMother .grandMother__navbar.to-right .navbar-right-section .dropdown2 .dropdown-menu ul li a .d-flex .d-block p {
                          color: darkgrey;
                          margin: 0; }
                        body .container-fluid .grandMother .grandMother__navbar.to-right .navbar-right-section .dropdown2 .dropdown-menu ul li a .d-flex .d-block .p-2 {
                          margin-left: 5px;
                          padding: 0 !important; }
                body .container-fluid .grandMother .grandMother__navbar.to-right .navbar-right-section .dropdown2 .dropdown-menu ul .allNotiLink {
                  height: 50px; }
                  body .container-fluid .grandMother .grandMother__navbar.to-right .navbar-right-section .dropdown2 .dropdown-menu ul .allNotiLink a {
                    margin: auto;
                    color: darkgrey;
                    text-decoration: none; }
                    body .container-fluid .grandMother .grandMother__navbar.to-right .navbar-right-section .dropdown2 .dropdown-menu ul .allNotiLink a:hover {
                      text-decoration: underline; }
          body .container-fluid .grandMother .grandMother__navbar.to-right .navbar-right-section .dropdown3 {
            margin-right: 20px; }
            body .container-fluid .grandMother .grandMother__navbar.to-right .navbar-right-section .dropdown3 i {
              color: darkgrey;
              position: relative;
              cursor: pointer; }
              body .container-fluid .grandMother .grandMother__navbar.to-right .navbar-right-section .dropdown3 i span {
                position: absolute;
                top: -5px;
                right: -10px;
                border-radius: 50%;
                padding: 2px 6px;
                background-color: #3F80EA;
                color: #333;
                font-size: 12px; }
              body .container-fluid .grandMother .grandMother__navbar.to-right .navbar-right-section .dropdown3 i:hover {
                color: #3F80EA; }
                body .container-fluid .grandMother .grandMother__navbar.to-right .navbar-right-section .dropdown3 i:hover span {
                  top: -10px; }
            body .container-fluid .grandMother .grandMother__navbar.to-right .navbar-right-section .dropdown3 .dropdown-menu {
              background-color: #293042;
              padding: 0 !important; }
              body .container-fluid .grandMother .grandMother__navbar.to-right .navbar-right-section .dropdown3 .dropdown-menu ul {
                padding: 0 !important;
                margin: 7px 0; }
                body .container-fluid .grandMother .grandMother__navbar.to-right .navbar-right-section .dropdown3 .dropdown-menu ul li {
                  padding: 5px 16px; }
                  body .container-fluid .grandMother .grandMother__navbar.to-right .navbar-right-section .dropdown3 .dropdown-menu ul li a {
                    color: darkgrey;
                    text-decoration: none; }
                    body .container-fluid .grandMother .grandMother__navbar.to-right .navbar-right-section .dropdown3 .dropdown-menu ul li a img {
                      margin-right: 5px; }
          body .container-fluid .grandMother .grandMother__navbar.to-right .navbar-right-section .dropdown4 .text-decoration-none.text-light .fa-cog {
            display: none; }
          body .container-fluid .grandMother .grandMother__navbar.to-right .navbar-right-section .dropdown4 img {
            width: 30px;
            border-radius: 50%; }
          body .container-fluid .grandMother .grandMother__navbar.to-right .navbar-right-section .dropdown4 .dropdown-menu {
            background-color: #293042; }
            body .container-fluid .grandMother .grandMother__navbar.to-right .navbar-right-section .dropdown4 .dropdown-menu ul {
              padding: 0;
              margin: 0; }
              body .container-fluid .grandMother .grandMother__navbar.to-right .navbar-right-section .dropdown4 .dropdown-menu ul a {
                display: block;
                padding: 5px 10px;
                padding-left: 20px;
                text-decoration: none;
                color: darkgrey; }
                body .container-fluid .grandMother .grandMother__navbar.to-right .navbar-right-section .dropdown4 .dropdown-menu ul a:hover a {
                  color: #d1d0d0; }
                body .container-fluid .grandMother .grandMother__navbar.to-right .navbar-right-section .dropdown4 .dropdown-menu ul a i {
                  margin-right: 6px; }
      body .container-fluid .grandMother .block {
        width: 100%; }
        body .container-fluid .grandMother .block .dropdown i {
          color: #D4D6D9; }
        body .container-fluid .grandMother .block .section1 .col-md-6:not(:last-child) {
          padding-left: 33px; }
        body .container-fluid .grandMother .block .section1 .col-md-6 {
          display: flex;
          align-items: center; }
          body .container-fluid .grandMother .block .section1 .col-md-6 .dropdown a {
            background-color: #293042 !important;
            padding: 5px 10px;
            border: 1px solid #3f3e3e !important; }
          body .container-fluid .grandMother .block .section1 .col-md-6 .dropdown .dropdown-menu {
            background-color: #333B52 !important;
            min-width: 200px; }
            body .container-fluid .grandMother .block .section1 .col-md-6 .dropdown .dropdown-menu p {
              margin: 10px 0 !important; }
            body .container-fluid .grandMother .block .section1 .col-md-6 .dropdown .dropdown-menu ul p {
              color: darkgrey !important; }
              body .container-fluid .grandMother .block .section1 .col-md-6 .dropdown .dropdown-menu ul p:hover {
                color: #C3C7CD !important; }
            body .container-fluid .grandMother .block .section1 .col-md-6 .dropdown .dropdown-menu ul li {
              cursor: pointer;
              padding: 10px 0;
              color: darkgrey !important; }
              body .container-fluid .grandMother .block .section1 .col-md-6 .dropdown .dropdown-menu ul li:hover {
                color: #C3C7CD !important; }
        body .container-fluid .grandMother .block .section1 #dropdown6 p {
          padding: 6px 0; }
        body .container-fluid .grandMother .block .section1 #dropdown6 ul li {
          cursor: pointer;
          padding: 6px 0; }
        body .container-fluid .grandMother .block .section2 {
          padding: 20px 25px;
          margin: 0 auto;
          display: block; }
          body .container-fluid .grandMother .block .section2 .row {
            flex-wrap: nowrap;
            padding: 0 15px;
            padding-right: 30px; }
            body .container-fluid .grandMother .block .section2 .row .col-sm-12 {
              background-color: #293042;
              margin: 10px 0;
              height: 150px;
              border-radius: 4px;
              padding: 15px;
              position: relative; }
              body .container-fluid .grandMother .block .section2 .row .col-sm-12 p:nth-child(1) {
                color: #CED0D4;
                font-weight: 600; }
              body .container-fluid .grandMother .block .section2 .row .col-sm-12 p:nth-child(2) {
                font-size: 30px;
                color: #ffff;
                margin-bottom: 10px; }
              body .container-fluid .grandMother .block .section2 .row .col-sm-12 .d-flex span {
                font-size: 10px;
                color: #419464;
                padding: 2px 7px;
                border-radius: 4px;
                background-color: #2F4A4A;
                margin-right: 8px; }
              body .container-fluid .grandMother .block .section2 .row .col-sm-12 .d-flex p {
                font-size: 14px;
                margin: 0;
                color: #92959E;
                font-weight: 600; }
              body .container-fluid .grandMother .block .section2 .row .col-sm-12 .icon {
                position: absolute;
                right: 15px;
                top: 15px;
                padding: 11px;
                border-radius: 50%;
                background-color: #3E4555; }
                body .container-fluid .grandMother .block .section2 .row .col-sm-12 .icon svg {
                  color: #fff;
                  font-size: 13px; }
            body .container-fluid .grandMother .block .section2 .row .col-sm-12:first-child {
              margin-right: 20px; }
          body .container-fluid .grandMother .block .section2 .row:last-child .col-sm-12:last-child {
            background-color: #343A4B;
            margin: 10px 0;
            height: 150px;
            border-radius: 4px;
            padding: 15px;
            position: relative; }
            body .container-fluid .grandMother .block .section2 .row:last-child .col-sm-12:last-child .row .col {
              margin: 0;
              background-color: #343A4B !important; }
              body .container-fluid .grandMother .block .section2 .row:last-child .col-sm-12:last-child .row .col p {
                color: #EAEAEC; }
              body .container-fluid .grandMother .block .section2 .row:last-child .col-sm-12:last-child .row .col p:first-child {
                font-weight: 700;
                margin-bottom: 5px;
                font-size: 18px; }
              body .container-fluid .grandMother .block .section2 .row:last-child .col-sm-12:last-child .row .col p:last-child {
                font-size: 14px;
                font-weight: 600; }
              body .container-fluid .grandMother .block .section2 .row:last-child .col-sm-12:last-child .row .col img {
                max-width: 100%;
                max-height: 135px; }
            body .container-fluid .grandMother .block .section2 .row:last-child .col-sm-12:last-child .row .col:last-child {
              text-align: end; }
          @media (max-width: 768px) {
            body .container-fluid .grandMother .block .section2 .row {
              padding-right: 2px !important;
              flex-wrap: wrap; } }
        body .container-fluid .grandMother .block .section3 {
          flex-wrap: nowrap;
          padding: 0 60px !important;
          padding-left: 40px !important; }
          body .container-fluid .grandMother .block .section3 .col-sm-12:nth-child(1) {
            margin-right: 30px; }
          body .container-fluid .grandMother .block .section3 .col-sm-12:nth-child(2) {
            margin-right: 30px; }
          body .container-fluid .grandMother .block .section3 .col-sm-12 {
            position: relative;
            background-color: #293042;
            border-radius: 3px;
            overflow: hidden;
            padding: 0; }
            body .container-fluid .grandMother .block .section3 .col-sm-12 .card-header {
              background-color: transparent;
              border: none;
              display: flex;
              justify-content: space-between;
              align-items: center;
              padding: 20px; }
              body .container-fluid .grandMother .block .section3 .col-sm-12 .card-header p {
                color: #D4D6D9;
                font-weight: 600;
                margin: 0; }
            body .container-fluid .grandMother .block .section3 .col-sm-12 .card-body {
              padding: 0; }
              body .container-fluid .grandMother .block .section3 .col-sm-12 .card-body #vmap {
                height: 300px;
                position: relative;
                background-color: transparent !important; }
                body .container-fluid .grandMother .block .section3 .col-sm-12 .card-body #vmap svg {
                  background-color: transparent !important; }
                body .container-fluid .grandMother .block .section3 .col-sm-12 .card-body #vmap .jqvmap-region {
                  fill: #545968 !important; }
                  body .container-fluid .grandMother .block .section3 .col-sm-12 .card-body #vmap .jqvmap-region:hover {
                    fill: #545968bb !important; }
                body .container-fluid .grandMother .block .section3 .col-sm-12 .card-body #vmap .jqvmap-label {
                  position: absolute;
                  display: none;
                  -webkit-border-radius: 3px;
                  -moz-border-radius: 3px;
                  border-radius: 3px;
                  background: #292929;
                  color: white;
                  font-family: sans-serif, Verdana;
                  font-size: smaller;
                  padding: 3px;
                  pointer-events: none; }
                body .container-fluid .grandMother .block .section3 .col-sm-12 .card-body #vmap .jqvmap-pin {
                  pointer-events: none; }
                body .container-fluid .grandMother .block .section3 .col-sm-12 .card-body #vmap .jqvmap-zoomin, body .container-fluid .grandMother .block .section3 .col-sm-12 .card-body #vmap .jqvmap-zoomout {
                  position: absolute;
                  left: 10px;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  border-radius: 3px;
                  background: grey;
                  padding: 10px;
                  color: white;
                  width: 10px;
                  height: 10px;
                  cursor: pointer;
                  line-height: 10px;
                  text-align: center; }
                body .container-fluid .grandMother .block .section3 .col-sm-12 .card-body #vmap .jqvmap-zoomin {
                  top: 10px; }
                body .container-fluid .grandMother .block .section3 .col-sm-12 .card-body #vmap .jqvmap-zoomout {
                  top: 40px; }
                body .container-fluid .grandMother .block .section3 .col-sm-12 .card-body #vmap .jqvmap-region {
                  cursor: pointer; }
                body .container-fluid .grandMother .block .section3 .col-sm-12 .card-body #vmap .jqvmap-ajax_response {
                  width: 100%;
                  height: 500px; }
              body .container-fluid .grandMother .block .section3 .col-sm-12 .card-body .timeline {
                position: relative; }
                body .container-fluid .grandMother .block .section3 .col-sm-12 .card-body .timeline li:before {
                  background: #293042;
                  border-radius: 50%;
                  border: 3px solid #3f80ea;
                  left: 0;
                  width: 20px;
                  height: 20px;
                  content: " ";
                  display: inline-block;
                  position: absolute;
                  z-index: 1; }
                body .container-fluid .grandMother .block .section3 .col-sm-12 .card-body .timeline::before {
                  content: " ";
                  display: inline-block;
                  position: absolute;
                  z-index: 1;
                  background: #696e7b;
                  left: 9px;
                  width: 2px;
                  height: 100%;
                  top: 0; }
                body .container-fluid .grandMother .block .section3 .col-sm-12 .card-body .timeline li strong {
                  color: #bfc1c6; }
                body .container-fluid .grandMother .block .section3 .col-sm-12 .card-body .timeline li p {
                  color: #a9acb3; }
              body .container-fluid .grandMother .block .section3 .col-sm-12 .card-body canvas {
                width: 98%;
                margin: 0 auto; }
          body .container-fluid .grandMother .block .section3 .col-sm-12:last-child {
            max-width: 30%; }
          @media (max-width: 768px) {
            body .container-fluid .grandMother .block .section3 {
              flex-wrap: wrap;
              margin: 0 auto;
              justify-content: center;
              padding-right: 15px !important;
              padding-left: 30px !important; }
              body .container-fluid .grandMother .block .section3 .col-sm-12 {
                min-width: 100%;
                margin: 20px 0 !important; }
                body .container-fluid .grandMother .block .section3 .col-sm-12 .timeline li p {
                  color: #5B84A0; } }
        body .container-fluid .grandMother .block .section6 {
          background-color: #293042;
          margin: 20px;
          overflow: hidden;
          margin-left: 30px !important; }
          body .container-fluid .grandMother .block .section6 .tab-content .tab-pane {
            overflow-y: hidden;
            overflow-x: auto; }
            body .container-fluid .grandMother .block .section6 .tab-content .tab-pane table {
              min-width: 700px; }
              body .container-fluid .grandMother .block .section6 .tab-content .tab-pane table thead tr th {
                cursor: pointer; }
                body .container-fluid .grandMother .block .section6 .tab-content .tab-pane table thead tr th .arrows {
                  width: 15px;
                  display: flex;
                  justify-content: center;
                  align-items: center; }
                  body .container-fluid .grandMother .block .section6 .tab-content .tab-pane table thead tr th .arrows i {
                    font-size: 13px;
                    color: #5a5959; }
                  body .container-fluid .grandMother .block .section6 .tab-content .tab-pane table thead tr th .arrows i.notActive {
                    font-size: 13px;
                    color: #5a5959; }
                  body .container-fluid .grandMother .block .section6 .tab-content .tab-pane table thead tr th .arrows i.active {
                    color: darkgrey; }
              body .container-fluid .grandMother .block .section6 .tab-content .tab-pane table thead tr th:first-child {
                padding-left: 20px; }
      body .container-fluid .grandMother footer {
        padding: 20px 20px; }
        body .container-fluid .grandMother footer a {
          color: darkgrey !important;
          margin-right: 8px; }
          body .container-fluid .grandMother footer a:hover {
            text-decoration: underline !important; }
        body .container-fluid .grandMother footer p {
          color: darkgrey !important;
          margin: 0; }
  body .openSettingControl {
    position: fixed;
    right: -54px !important;
    top: 43%;
    z-index: 120;
    background-color: #3E4555;
    transform: rotate(90deg);
    box-shadow: 0 0 40px 0.5px #2b2a2a; }
    body .openSettingControl button {
      background-color: #545968;
      border: none;
      outline: none;
      font-size: 15px;
      font-weight: 600;
      color: #fff;
      padding: 7px 9px;
      margin-right: 6px;
      border-radius: 3px; }
      body .openSettingControl button:hover {
        background-color: #565d74; }
  body .navbarSettingSection {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 130;
    background-color: #293042;
    height: 100vh;
    transition: 0.6s;
    margin-right: -100%;
    overflow-y: auto; }
    body .navbarSettingSection__header {
      width: 320px;
      display: flex;
      justify-content: space-between;
      padding: 0 20px;
      align-items: center;
      height: 70px;
      border-bottom: 1px solid #5a5a5a; }
    body .navbarSettingSection .navbarSettingSection__myAlert {
      max-width: 280px;
      margin: 20px auto;
      padding: 17px;
      background-color: #314D7E;
      border-radius: 5px; }
    body .navbarSettingSection .theme-setting .d-flex {
      max-width: 265px;
      justify-content: space-between; }
      body .navbarSettingSection .theme-setting .d-flex .text-center {
        width: 48%; }
        body .navbarSettingSection .theme-setting .d-flex .text-center button {
          background-color: #293042;
          padding: 15px 32px;
          margin-top: 10px;
          border: 1px solid #888686;
          border-radius: 5px; }
          body .navbarSettingSection .theme-setting .d-flex .text-center button .darkWhite {
            width: 50px;
            border: 1px solid #fff;
            height: 50px;
            background-image: linear-gradient(-45deg, #222e3c 50%, #f2f4f6 0); }
          body .navbarSettingSection .theme-setting .d-flex .text-center button .blueWhite {
            width: 50px;
            border: 1px solid #fff;
            height: 50px;
            background-image: linear-gradient(-45deg, #3F80EA 50%, #f2f4f6 0); }
          body .navbarSettingSection .theme-setting .d-flex .text-center button .dark {
            width: 50px;
            border: 1px solid #fff;
            height: 50px;
            background-color: #222E3C; }
          body .navbarSettingSection .theme-setting .d-flex .text-center button .light {
            width: 50px;
            border: 1px solid #fff;
            height: 50px;
            background-color: #fff; }
        body .navbarSettingSection .theme-setting .d-flex .text-center button.selected {
          border-color: #3F80EA;
          position: relative; }
          body .navbarSettingSection .theme-setting .d-flex .text-center button.selected::after {
            content: '';
            background-image: url("https://freepikpsd.com/wp-content/uploads/2020/12/correct-logo-png-2.png");
            background-position: center;
            background-size: cover;
            padding: 9px;
            height: 10px;
            width: 10px;
            border-radius: 50%;
            background-color: #3F80EA;
            position: absolute;
            top: 10px;
            right: 10px; }
    body .navbarSettingSection .sidebar-position .d-flex button {
      padding: 5px 15px;
      font-weight: 600;
      color: #fff;
      background-color: #545968;
      border: none;
      margin: 7px 3px;
      border-radius: 5px; }
    body .navbarSettingSection .sidebar-position .d-flex button.active {
      background-color: #3F80EA;
      color: #fff; }
  body .bg-curtain {
    position: fixed;
    transition: 0.6s;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 129;
    background-color: rgba(0, 0, 0, 0.4);
    display: none; }
@keyframes dropdownAnimation {
  0% {
    opacity: 0;
    transform: translateY(20px); }
  100% {
    opacity: 1;
    transform: translateY(30px); } }
  body .dropdown-menu.show {
    animation-name: dropdownAnimation;
    animation-duration: .5s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    background-color: #293042; }
    body .dropdown-menu.show ul li {
      cursor: pointer; }
@keyframes dropdownAnimation2 {
  0% {
    opacity: 0;
    transform: translateY(40px); }
  100% {
    opacity: 1;
    transform: translateY(50px); } }
  @media (min-width: 0) and (max-width: 1150.9px) {
    body .container-fluid .pages-menu.to-left {
      margin-left: -260px; }
      body .container-fluid .pages-menu.to-left.show {
        margin-left: 0; }
    body .container-fluid .pages-menu.to-right {
      margin-right: -260px; }
      body .container-fluid .pages-menu.to-right.show {
        margin-right: 0; }
    body .container-fluid .grandMother .grandMother__navbar .navbar-left-section .input-group {
      display: none; }
    body .container-fluid .grandMother .grandMother__navbar .navbar-left-section .dropdown a::after {
      content: '' !important; }
    body .container-fluid .grandMother .grandMother__navbar .navbar-left-section .dropdown .dropdown-menu {
      width: auto !important;
      min-width: 150px; }
      body .container-fluid .grandMother .grandMother__navbar .navbar-left-section .dropdown .dropdown-menu ul li {
        font-size: 14px !important; }
      body .container-fluid .grandMother .grandMother__navbar .navbar-left-section .dropdown .dropdown-menu .d-flex {
        display: block !important; }
    body .container-fluid .grandMother .grandMother__navbar .navbar-right-section .dropdown4 .text-decoration-none.text-light img {
      display: none; }
    body .container-fluid .grandMother .grandMother__navbar .navbar-right-section .dropdown4 .text-decoration-none.text-light span {
      display: none; }
    body .container-fluid .grandMother .grandMother__navbar .navbar-right-section .dropdown4 .text-decoration-none.text-light i {
      display: none; }
    body .container-fluid .grandMother .grandMother__navbar .navbar-right-section .dropdown4 .text-decoration-none.text-light .fa-cog {
      display: block; }
      body .container-fluid .grandMother .grandMother__navbar .navbar-right-section .dropdown4 .text-decoration-none.text-light .fa-cog:hover {
        color: #3F80EA; }
    body .container-fluid .grandMother .grandMother__navbar .navbar-right-section .dropdown2 .dropdown-menu {
      position: fixed !important;
      left: 0;
      right: 0;
      width: 100% !important;
      transform: none !important; }
    body .container-fluid .grandMother .grandMother__navbar .navbar-right-section .dropdown2 .dropdown-menu.show {
      transform: translateY(60px) !important; }
    body .container-fluid .grandMother .block .section1 .ps-4 p {
      display: none; }
    body .container-fluid .grandMother footer {
      display: block !important; }
      body .container-fluid .grandMother footer .links {
        display: block !important; }
        body .container-fluid .grandMother footer .links a {
          display: block !important;
          margin: 5px 0; }
    body .openSettingControl {
      margin-right: -100%; } }
  body .dropdown-menu {
    border: 1px solid grey !important; }
  body .notLighter {
    color: #17181a !important; }

/*# sourceMappingURL=saas.css.map */
